@charset "utf-8";
@media (max-width:640px){
    html{font-size:86px;}
    .content{padding-top:.75rem;}
}
@media (max-width:600px){
    html{font-size:80px;}
    .photo{margin:.5rem auto auto auto;}
    .content{height:8.8rem;background-size: 100% 100%;}
    .change{bottom: 0.6rem;}
    .content form{bottom:1.4rem;}
    .section2 .upload{margin: -.4rem auto auto auto; position: relative;z-index: 888;}
}
@media (max-width:414px){
    html{ font-size:56px;}
    .rule-title{margin:auto auto .9rem auto;}
    .mail{width:66%;height:1.71rem;}
    .photo{margin:.6rem auto auto auto;}
    .content{height: 9.0rem;background-size:100% 100%;}
    .change{width:4.01rem;left: 2rem;bottom: .8rem;height:1.1rem;}
    .content form{bottom: 1.5rem;}
    .upload{width:2.85rem;margin: .40rem auto auto auto;}
    .section2 .upload{width:2.85rem;margin:0rem auto auto auto;}
    .bg_top{height:8.4rem;width: 96%;overflow: hidden;margin: 0 auto;}
    .print{width:4.35rem;left:50%;margin-left: -2.475rem;height: auto;}
    .get img{width: 2.85rem;}
    .activity{width:80%;}
    .operation img{width: 2.85rem;}
}
@media (max-width:411px){
    .content{height:7.3rem;}
    .photo{margin: .30rem auto auto auto;}
    .section2 .upload {
        margin: -.4rem auto auto auto !important;
        width: 2.85rem;
        z-index:678;
    }

}
@media (max-width:412px){
    .bg_top{height:8.3rem;width:96%;margin:0 auto;overflow:hidden;}
    .print{width:4.35rem;left:50%;margin-left: -2.475rem;height: auto;}
    .upload{margin:.30rem auto auto auto;width: 2.85rem;}
    .section2 .upload {margin:auto auto auto auto;  width: 2.85rem;  }
    .hover p{margin-bottom: 0;}
    .content{height:7.6rem;background-size:100% 100%;}
    .photo{margin: .40rem auto auto auto;}
    .change{bottom: .7rem;width: 3.71rem;height: .88rem;left:2.3rem;}
    .photo{width: 3.12rem;height: 4.28rem;}
    .font{width: 2.74rem;height: 4.3rem;}
    .img-box{height:auto;margin:.1rem auto auto auto;padding:.25rem;}
    .content form{bottom:1.2rem;}
    .photo-img{padding: .22rem .22rem .22rem .25rem;margin: .33rem auto auto auto;}
    .img-title{margin:auto auto auto 2.4rem;width: 3rem;}
    .hover img{width:.41rem;}
    .hover{height:.60rem;}
}
    @media (max-width:412px) and (max-height:732px) {

  /*  .content form{bottom:.7rem;}*/
  /*  .change{margin: -.7rem auto auto 3rem;}*/
  /*  .logo img{margin-top: 0.05rem;}*/

}
@media (max-width:375px){
    html{font-size:50px;}
    .content{height: 8.6rem;background-size: 100% 100%;}
    .top{padding-bottom: 0.15rem;}
    .top img{width: 3rem}
    .top img:first-child{margin-bottom: 0.25rem}
    .picture{height: 7rem;    background-size: 100% 100%;}
    .activity{width:76%;top:42.5%;}
    .bd{top:44%;}
    .wrap-box{width: 88%;}
    .rule-title{margin:auto auto .1rem auto;}
    .rotate-div{padding: .5rem .3rem 0 0;}
    .img-title{margin: 0.18rem 0 0 2.4rem}
    .photo {margin: .60rem auto auto auto;}
    .pan-img{right:-1.5rem;}
    .bg_top{height:8.6rem;}
}

@media (max-width:320px){
    html{
        /* font-size:50px;*/
        font-size:44px;
    }
}
@media (max-width:375px) and (max-height: 812px) {
    .bottm-img{bottom:.30rem;}
}



@media screen and (device-height:812px)  {
    .section2 .upload{margin:.6rem auto auto auto !important;}
    .bottm-img{bottom:.50rem;}
    .load{background-repeat: no-repeat;background-image: url("../img/I10loadBG.jpg");background-size: 100% auto;}
    .mail {width: 66%;height: 2.2rem}
    .home {background: url(../img/I10loadBG2.jpg) no-repeat top center;background-size: 100% 100%;}
    img.word {width: 3.61rem;margin-top: 3.19rem;}
    .click{margin:0.5rem auto;}
    .content {margin-top: 2.23rem;}
    .logo {margin: 0.2rem auto 0 auto;}
    .activity {width: 90%;top: 48.5%;}
    .bd {top: 52%;}
    .picture {margin: 1.1rem auto;}
    .top img {width: 4.8rem;margin-top: 0.5rem;}
    .rule-text {margin-top:2rem;}
    .txt-content p {line-height:1.16;}
    .bg_top{height:11.3rem;}
    .print {width:4.6rem; margin-left: -2.595rem;}
    .keep {margin-top: -4.16rem;}
    img.picture2{
        right: -0.3rem;
    }
}